body {
    background-color: darkblue;
}

#calculator-body {
    background-color: gray;
    width: min-content;
    height: min-content;
    padding: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#screen {
    width: 412px;
    height: 48px;
    line-height: 48px;
    background-color: #22421b;
    color: green;
    text-align: right;
    padding: 0 16px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 8px;
}

#control-panel
{
    margin: 0 auto;
    width: 464px;
}

button {
    display: inline-block;
    width: 108px;
    height: 64px;
    background-color: darkblue;
    color: white;
    margin: 4px;
}

.operator-button {
    background-color: darkorange;
    color: black;
}

#equals-button {
    display: block;
    width: 458px;
    margin: 0 auto;
}
